body,html,.row-offcanvas {
  height:100%;
  overflow-x: hidden;
}

body {
  padding-top: 70px;
  background: #111111;
}

ul.listPadding > li{
  padding-left: 10px;
  font-size: 18px;
}

ul.fontSize > li{
  font-size: 18px;
}

.zeroMargin{
  margin: 0px !important;
}

.zeroPadding{
  padding: 0px !important;
}

.textSize{
  font-size: 18px;
}

.panel-heading{
  font-size: 18px;
}
